/* Graceland font from 1001fonts.com by neaturevisual */
@font-face {
    font-family: graceland;
    src: url(Graceland.otf)
}

/* Pine Forest by DikasStudio on 1001fonts.com */
@font-face {
    font-family: pine-forest;
    src: url(Pine\ Forest\ Personal\ Use\ Only.otf)
}

/* Woodlist by Nur Aisyah Amalia on 1001fonts.com */
@font-face {
    font-family: woodlist;
    src: url(Woodlist-Regular.ttf)
}

body { 
    margin: 0; 
    padding: 0;
    overflow-y: scroll;
    font-family: woodlist;
}

nav {
    background-color: green;
}

.navbar-brand {
    color: white;
}

#dropdownMenuUl {
    left: 0;
    right: 0;
}

.menu-btn {
    background-color: white;
    font-size: 16px;
    border: 1px solid green;
    display: block;
    width: 100px;
}

.menu-btn:hover{
    background-color: green;
    border: 1px solid white;
}

h6 {
    font-weight: bold;
    font-size: 16px;
}

p {
    font-size: 14px;
}

.close-btn {
    background-color: #fff;
    border: 0px;
    float: right;
}

.app-info-text {
    font-size: 14px;
}

figure {
    font-size: 14px;
}

form {
    font-size: 14px;
}

.submit {
    background-color: green;
    color: white;
    font-size: 14px;
    border: 1px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* https://www.w3schools.com/css/css3_buttons.asp */
}

.submit:hover {
    background-color: white;
    color: black;
    border: 1px solid green;
}

.mapboxgl-ctrl-geocoder {
    width: 300px !important;
}
.mapboxgl-ctrl-geocoder--input {
    font-size: 14px !important;
    margin-left: 20px !important;
}