body { 
    margin: 0; 
    padding: 0; 
}

nav {
    background-color: green;
}

#dropdownMenuUl {
    left: 0;
    right: 0;
    /*position: absolute;
    display: block;*/
}

.menu-btn {
    background-color: white;
    font-size: 10px;
    border: 1px solid green;
    display: block;
}

.menu-btn:hover{
    background-color: green;
    border: 1px solid white;
}

h6 {
    font-weight: bold;
}
            
#map { 
    /*top: 0; 
    bottom: 0; */
    height: 100vh;
    position: absolute;
    width: 100vw; 
}

.mapboxgl-ctrl-geocoder--input {
    font-size: 500px;
}

.close-btn {
    background-color: #fff;
    border: 0px;
    float: right;
}

#ranking-table {
    font-size: 10pt;
}

#ranking-table tr,td,th {
    border-collapse: collapse;
    border: 1px solid;
}

tr:nth-child(even){
    background-color: #b6b8ba;
}