/* Graceland font from 1001fonts.com by neaturevisual */
@font-face {
    font-family: graceland;
    src: url(Graceland.otf)
}

/* Pine Forest by DikasStudio on 1001fonts.com */
@font-face {
    font-family: pine-forest;
    src: url(Pine\ Forest\ Personal\ Use\ Only.otf)
}

/* Woodlist by Nur Aisyah Amalia on 1001fonts.com */
@font-face {
    font-family: woodlist;
    src: url(Woodlist-Regular.ttf)
}

body { 
    margin: 0; 
    padding: 0;
    overflow-y: scroll;
    /*font-family: woodlist;*/
}

.navbar-brand {
    color: white;
}

.dropdown {
    width: fit-content;
}

#dropdownMenuUl {
    left: auto;
    right: 0;
}

/*.menu-btn {
    background-color: white;
    font-size: 16px;
    border: 1px solid green;
    display: inline-block;
    width: 100%;
}

.menu-btn:hover{
    background-color: green;
    border: 1px solid white;
}*/

h6 {
    font-weight: bold;
    font-size: 14px;
}

p {
    font-size: 12px;
}

/*.close-btn {
    background-color: #fff;
    border: 0px;
    float: right;
}*/

.btn-close {
    float: right;
}

.btn-success {
    font-size: 12px;
    padding: 5px; 
}

.btn-danger {
    font-size: 12px;
    padding: 5px;
}

.btn-success:hover {
    background-color: white;
    color: #146c43;
}

.btn-danger:hover {
    background-color:white;
    color:#dc3545;
}

.dropdown-item {
    font-size: 12px;
}

.dropdown-item:hover {
    background-color: #57410f;
    color: white;
}

.app-info-text {
    font-size: 12px;
}

figure {
    font-size: 12px;
    margin:10px;
}

.accordion-button:not(.collapsed) {
    background-color:rgba(20,108,67,0.1);
    border-color:#146c43;
    color:#146c43;
}

.accordion-button.collapsed::after {
    background-image: url("Accordion-icon.png");
  }

form {
    font-size: 12px;
}

/*select {
    background-color:white;
    border-color:#146c43;
    color:#146c43;
    border-radius:5px;
}*/

.form-select {
    font-size: 12px;
    padding: 0;
    max-width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.form-control {
    font-size: 12px;
    max-width: 500px;
    margin-top: 5px;
}

input:checked {
    background-color: #57410f;
}

.submit {
    background-color: green;
    color: white;
    font-size: 12px;
    border: 1px solid white;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19); /* https://www.w3schools.com/css/css3_buttons.asp */
}

.submit:hover {
    background-color: white;
    color: black;
    border: 1px solid green;
}

.mapboxgl-ctrl-geocoder {
    width: 300px !important;
}
.mapboxgl-ctrl-geocoder--input {
    /*font-size: 12px !important;*/
    margin-left: 30px !important;
}

.mapboxgl-popup-content {
    text-align: center;
    width: 200px;
    margin:0;
}

/*@media print{
    body{
        display:none;
    }
}*/